		* {
			margin: 0px;
			padding: 0px;
		}
		
		.container {
			width: 1170px;
			max-width: none !important;
		}
		
		body {
			padding-top: 120px;
			padding-bottom: 10px;
		}
		
		.Author {
			color: #669dc6;
			font-size: 12px; 
		}
		
		.CreateTime {
			color: #bbbbbb;
			font-size: 12px;
		}